<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerializerDataGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SerializerDataGenerator.Properties.Settings>
            <setting name="SerializerApiPath" serializeAs="String">
                <value>http://localhost/XmlSerializerApi/</value>
            </setting>
            <setting name="PostDataApiPath" serializeAs="String">
                <value>api/Data</value>
            </setting>
        </SerializerDataGenerator.Properties.Settings>
    </userSettings>
</configuration>